.product-highlight-container {
  padding: 0px 20%;
  margin-top: 50px;
}

.product-highlight-container .product-highlight_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-highlight-container .product-highlight_title hr {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 2px;
}

.product-highlight-container .products-highlight_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;
}

.product-highlight-container .products-highlight_flex .product-highlight_item {
  width: 30%;
  text-align: center;
}

.product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_image {
  position: relative;
}

.product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_image a {
  color: #000000;
}

.product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_image a img:last-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_image:hover a img:last-child {
  opacity: 1;
}

.product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_des h6 a {
  color: #000000;
}

.product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_des .product-highlight_discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_des .product-highlight_discount .discount {
  color: #646464;
  -webkit-text-decoration-line: line-through;
  /* Safari */
  text-decoration-line: line-through;
}

.product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_des .product-highlight_discount p {
  margin: 5px 10px;
}

.product-highlight-container .product-highlight_all {
  text-align: center;
}

.product-highlight-container .product-highlight_all a {
  color: #4b4b4b;
}

@media screen and (max-width: 1000px) {
  .product-highlight-container {
    padding: 0px 5%;
    margin-top: 50px;
  }
  .product-highlight-container .product-highlight_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-highlight-container .product-highlight_title hr {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 2px;
  }
  .product-highlight-container .products-highlight_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    padding-top: 20px;
  }
  .product-highlight-container .products-highlight_flex .product-highlight_item {
    width: 45%;
    text-align: center;
  }
  .product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_image {
    position: relative;
  }
  .product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_image a {
    color: #000000;
  }
  .product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_image a img:last-child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_image:hover a img:last-child {
    opacity: 1;
  }
  .product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_des h6 a {
    color: #000000;
  }
  .product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_des .product-highlight_discount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_des .product-highlight_discount .discount {
    color: #646464;
    -webkit-text-decoration-line: line-through;
    /* Safari */
    text-decoration-line: line-through;
  }
  .product-highlight-container .products-highlight_flex .product-highlight_item .product-highlight_des .product-highlight_discount p {
    margin: 5px 10px;
  }
  .product-highlight-container .product-highlight_all {
    text-align: center;
  }
  .product-highlight-container .product-highlight_all a {
    color: #4b4b4b;
  }
}
/*# sourceMappingURL=product-highlight.css.map */