.wallpaper-extra-container {
    margin-top: 50px;
    background-image: url("https://wallpaperaccess.com/full/333783.jpg");
    padding: 150px 0px;
    background-attachment: fixed;
    background-size: cover;
}